:root {
  --light-yellow: #fff475;
  --light-blue: #e3f2fd;
}

.light-color {
  background-color: var(--light-blue);
}

.text-color {
  background-color: var(--light-yellow);
}

.h-86 {
  height: 86%;
}

.img-size {
  height: 100%;
}

.cursor-poi {
  cursor: pointer;
}

.img-size:hover {
  opacity: 0.7;
}

.w-95 {
  width: 95%;
}
