<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>T-Shirt Shop</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light light-color sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand mx-4" href="../index.html">T-Shirt</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-5">
              <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item mx-5">
              <a class="nav-link active" aria-current="page" href="../templates/show_new.html">New</a>
            </li>
            <li class="nav-item mx-5">
              <a class="nav-link active" aria-current="page" href="./women_t_shirt.html">Women</a>
            </li>
            <li class="nav-item mx-5">
              <a class="nav-link active" aria-current="page" href="./men_t_shirt.html">Men</a>
            </li>
          </ul>
        </div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container p-2 text-center mt-3">
      <h1 class="display-1 fw-bolder">Women T-Shirt</h1>
    </div>

    <div class="container-fluid mt-4">
      <div class="container-fluid mt-3 w-95">
        <div class="row">
          <div class="col mt-2">
            <img src="../images/girl-1.webp" class="img-fluid cursor-poi" alt="T-Shirt" />
            <div class="mt-2">
              <p>I'm a product</p>
              <p>$15.00</p>
            </div>
          </div>
          <div class="col mt-2">
            <img src="../images/t-8.webp" class="img-fluid cursor-poi" alt="T-Shirt" />
            <div class="mt-2">
              <p>I'm a product</p>
              <p>$15.00</p>
            </div>
          </div>
          <div class="col mt-2">
            <img src="../images/girl-2.webp" class="img-fluid cursor-poi" alt="T-Shirt" />
            <div class="mt-2">
              <p>I'm a product</p>
              <p>$15.00</p>
            </div>
          </div>
          <div class="col mt-2">
            <img src="../images/t-7.webp" class="img-fluid cursor-poi" alt="T-Shirt" />
            <div class="mt-2">
              <p>I'm a product</p>
              <p>$15.00</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mt-2">
            <img src="../images/t-11.webp" class="img-fluid cursor-poi" alt="T-Shirt" />
            <div class="mt-2">
              <p>I'm a product</p>
              <p>$15.00</p>
            </div>
          </div>
          <div class="col mt-2">
            <img src="../images/girl-3.webp" class="img-fluid cursor-poi" alt="T-Shirt" />
            <div class="mt-2">
              <p>I'm a product</p>
              <p>$15.00</p>
            </div>
          </div>
          <div class="col mt-2">
            <img src="../images/t-1.webp" class="img-fluid cursor-poi" alt="T-Shirt" />
            <div class="mt-2">
              <p>I'm a product</p>
              <p>$15.00</p>
            </div>
          </div>
          <div class="col mt-2">
            <img src="../images/t-6.webp" class="img-fluid cursor-poi" alt="T-Shirt" />
            <div class="mt-2">
              <p>I'm a product</p>
              <p>$15.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="container-fluid light-color mt-3">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-dark fs-6 fw-lighter" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-6 fw-lighter" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-6 fw-lighter" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-6 fw-lighter" href="#">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-6 fw-lighter" href="#">About</a>
        </li>
      </ul>
      <div class="border-top justify-content-center">
        <p class="text-muted text-center mt-2 fw-normal">&copy; 2021 company, inc</p>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
